<style type="text/css">
	h1{	color: white;
	}
   #map {
        height: 100%;
      }
</style>



<div class="container-fluid">

  <div class="row">
    <div class="col-12" style="background-color:black;">
      
    </div>    
  </div>
  <div class="row">
    <div class="col-3" >
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Nivel Audio</th>      
    </tr>
  </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>      
    </tr>
  </tbody>
</table>
<table>
<tbody class="table">
  <% @denuncias=Denuncias.all %>
    <% @denuncias.each do |denuncia| %>
      <tr>
        <td><%= denuncia.id_den %></td>
        <td><%= denuncia.id_usu_den %></td>
        <td><%= denuncia.lat_den %></td>
        <td><%= denuncia.lon_den %></td>
        <td><%= denuncia.ima_fue %></td>
        <td><%= denuncia.aud_rep %></td>
        <td><%= denuncia.aud_niv %></td>
        <td><%= denuncia.fec_den %></td>
        <td><%= denuncia.hor_den %></td>
        <td><%= link_to 'Show', denuncia %></td>
        <td><%= link_to 'Edit', edit_denuncia_path(denuncia) %></td>
        <td><%= link_to 'Destroy', denuncia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <table>
<tbody class="table">
  <% @tip_docs = TipDoc.all%>
    <% @tip_docs.each do |tip_doc| %>
      <tr>
        <td><%= tip_doc.id_tip_doc %></td>
        <td><%= tip_doc.nom_tip_doc %></td>
        <td><%= link_to 'Show', tip_doc %></td>
        <td><%= link_to 'Edit', edit_tip_doc_path(tip_doc) %></td>
        <td><%= link_to 'Destroy', tip_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
    </table>
    </div>
    <div class="col-9 bg-dark" style="height: 600px">
      <div id='map' style='width: 100%; height: 100%;'></div>
    </div>    
  </div>
<div class="row">
  <div class="col" style="background-color:yellow;">col</div>
  
</div>


</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWFudWVsZnFjIiwiYSI6ImNqbTNreTZ6eTBiYzMzcHQzNTZrNGxvOTUifQ.bUgoFu7XkuKI9bjSggfnqQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-74.08,4.60], // starting position [lng, lat]
    zoom: 9 // starting zoom
});
</script>
    



