<p id="notice"><%= notice %></p>

<h1>Seguimientos</h1>

<table>
  <thead>
    <tr>
      <th>Id seg</th>
      <th>Id den</th>
      <th>Id aut</th>
      <th>Id est den</th>
      <th>Des seg</th>
      <th>Fec seg</th>
      <th>Hor seg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
        <td><%= seguimiento.id_seg %></td>
        <td><%= seguimiento.id_den %></td>
        <td><%= seguimiento.id_aut %></td>
        <td><%= seguimiento.id_est_den %></td>
        <td><%= seguimiento.des_seg %></td>
        <td><%= seguimiento.fec_seg %></td>
        <td><%= seguimiento.hor_seg %></td>
        <td><%= link_to 'Show', seguimiento %></td>
        <td><%= link_to 'Edit', edit_seguimiento_path(seguimiento) %></td>
        <td><%= link_to 'Destroy', seguimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seguimiento', new_seguimiento_path %>
