<p id="notice"><%= notice %></p>

<p>
  <strong>Id aut:</strong>
  <%= @autoridad.id_aut %>
</p>

<p>
  <strong>Id tip doc:</strong>
  <%= @autoridad.id_tip_doc %>
</p>

<p>
  <strong>Num doc aut:</strong>
  <%= @autoridad.num_doc_aut %>
</p>

<p>
  <strong>Pri nom aut:</strong>
  <%= @autoridad.pri_nom_aut %>
</p>

<p>
  <strong>Seg nom aut:</strong>
  <%= @autoridad.seg_nom_aut %>
</p>

<p>
  <strong>Pri ape aut:</strong>
  <%= @autoridad.pri_ape_aut %>
</p>

<p>
  <strong>Seg ape aut:</strong>
  <%= @autoridad.seg_ape_aut %>
</p>

<p>
  <strong>Usu aut:</strong>
  <%= @autoridad.usu_aut %>
</p>

<p>
  <strong>Pas aut:</strong>
  <%= @autoridad.pas_aut %>
</p>

<%= link_to 'Edit', edit_autoridad_path(@autoridad) %> |
<%= link_to 'Back', autoridads_path %>
