<p id="notice"><%= notice %></p>

<h1>Denuncias</h1>

<table>
  <thead>
    <tr>
      <th>Id den</th>
      <th>Id usu den</th>
      <th>Lat den</th>
      <th>Lon den</th>
      <th>Ima fue</th>
      <th>Aud rep</th>
      <th>Aud niv</th>
      <th>Fec den</th>
      <th>Hor den</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @denuncias.each do |denuncia| %>
      <tr>
        <td><%= denuncia.id_den %></td>
        <td><%= denuncia.id_usu_den %></td>
        <td><%= denuncia.lat_den %></td>
        <td><%= denuncia.lon_den %></td>
        <td><%= denuncia.ima_fue %></td>
        <td><%= denuncia.aud_rep %></td>
        <td><%= denuncia.aud_niv %></td>
        <td><%= denuncia.fec_den %></td>
        <td><%= denuncia.hor_den %></td>
        <td><%= link_to 'Show', denuncia %></td>
        <td><%= link_to 'Edit', edit_denuncia_path(denuncia) %></td>
        <td><%= link_to 'Destroy', denuncia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Denuncia', new_denuncia_path %>
