<p id="notice"><%= notice %></p>

<p>
  <strong>Id den:</strong>
  <%= @denuncia.id_den %>
</p>

<p>
  <strong>Id usu den:</strong>
  <%= @denuncia.id_usu_den %>
</p>

<p>
  <strong>Lat den:</strong>
  <%= @denuncia.lat_den %>
</p>

<p>
  <strong>Lon den:</strong>
  <%= @denuncia.lon_den %>
</p>

<p>
  <strong>Ima fue:</strong>
  <%= @denuncia.ima_fue %>
</p>

<p>
  <strong>Aud rep:</strong>
  <%= @denuncia.aud_rep %>
</p>

<p>
  <strong>Aud niv:</strong>
  <%= @denuncia.aud_niv %>
</p>

<p>
  <strong>Fec den:</strong>
  <%= @denuncia.fec_den %>
</p>

<p>
  <strong>Hor den:</strong>
  <%= @denuncia.hor_den %>
</p>

<%= link_to 'Edit', edit_denuncia_path(@denuncia) %> |
<%= link_to 'Back', denuncias_index_path %>
