<p id="notice"><%= notice %></p>

<p>
  <strong>Id den:</strong>
  <%= @denuncium.id_den %>
</p>

<p>
  <strong>Id usu den:</strong>
  <%= @denuncium.id_usu_den %>
</p>

<p>
  <strong>Lat den:</strong>
  <%= @denuncium.lat_den %>
</p>

<p>
  <strong>Lon den:</strong>
  <%= @denuncium.lon_den %>
</p>

<p>
  <strong>Ima fue:</strong>
  <%= @denuncium.ima_fue %>
</p>

<p>
  <strong>Aud rep:</strong>
  <%= @denuncium.aud_rep %>
</p>

<p>
  <strong>Aud niv:</strong>
  <%= @denuncium.aud_niv %>
</p>

<p>
  <strong>Fec den:</strong>
  <%= @denuncium.fec_den %>
</p>

<p>
  <strong>Hor den:</strong>
  <%= @denuncium.hor_den %>
</p>

<%= link_to 'Edit', edit_denuncium_path(@denuncium) %> |
<%= link_to 'Back', denuncia_path %>
